/* Base styles */
[x-cloak] { 
    display: none !important; 
}

body { 
    font-family: 'Plus Jakarta Sans', sans-serif; 
}

/* Transitions */
.transition-accordion {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

.accordion-enter {
    opacity: 0;
    transform: translateY(-0.25rem);
}

.accordion-enter-active {
    opacity: 1;
    transform: translateY(0);
}

.accordion-leave {
    opacity: 1;
    transform: translateY(0);
}

.accordion-leave-active {
    opacity: 0;
    transform: translateY(-0.25rem);
}
